{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table>
<tr>
{# sorting of properties based on query components #}
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
    <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
    
    <th{% if pagination.isSorted('a._hit.sort') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Distance', 'a._hit.sort') }}</th>
</tr>

{# table body #}
{% for parking in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ parking.id }}</td>
    <td>{{ parking.title }}</td>
    <td>{{ parking.getHit.sort[0]|number_format(2, '.') }} km</td>
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>